%%-*- mode: erlang -*-
{erl_opts, [warnings_as_errors]}.
{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.

{xref_checks, [undefined_function_calls]}.

{deps, [{mochiweb, {git, "git://github.com/jrobhoward/mochiweb.gi", {branch, "SCADAbase"}}}]}.

{eunit_opts, [
              no_tty,
              {report, {eunit_progress, [colored, profile]}}
             ]}.

{profiles,
 [{test,
   [{deps, [meck,
            {ibrowse, {git, "git://github.com/jrobhoward/ibrowse.git", {branch, "SCADAbase"}}},
            {eunit_formatters, {git, "git://github.com/jrobhoward/eunit_formatters", {branch, "SCADAbase"}}}
           ]},
    {erl_opts, [debug_info]}
   ]}
 ]}.
